
.app{
    flex-direction: column;
}

body {
    font-family: Georgia;
    font-size: 100%;
    color: darkgreen;
    background-color: navajowhite;
    box-sizing: border-box;
    text-align: center;
    flex-direction: column;
} 
    


.quizMain {
    color-scheme: dark;
    color:gray;
    font-size: larger;
    flex-direction: column;
    
}
.btn {
    background-color: whitesmoke;
    color: black;
    width: 58%;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 5px;
    flex-direction: column;
}
.btn:hover{
    background-color: darkgreen;
    color:whitesmoke;
    
}

.answer-buttons{
    text-align: center;
}

.correct{
    background: greenyellow;
}
.incorrect{
    background: rgb(202, 11, 11);

}
 .next-btn{
    text-align: center;
    border-radius: 5px;
    flex-direction: column;
    padding: 5px;
    margin: 0 auto;
    display:block;


}